html {
  background: url(images/sand.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  padding: 5px;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 700px;
  background-color: rgba(157, 158, 143, 0.34);
  box-shadow: 12px 12px 2px 1px rgba(95, 77, 67, 1);
}
h3 {
  font-size: 50px;
}

li {
  list-style: none;
  font-size: 20px;
  line-height: 20px;
}
#location {
  padding-top: 50px;
}
#description {
  padding-top: 60px;
  font-size: 20px;
  line-height: 20px;
}

body {
  color: rgba(95, 77, 67, 1);
  background-color: hsla(0, 100%, 90%, 0.3);
  font-family: "Playfair Display", serif;
  padding-top: 20px;
}
table {
  color: white;
}
td {
  color: rgba(129, 83, 110, 0.97);
  font-weight: 300;
}
.git {
  color: rgba(129, 83, 110, 0.97);
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgba(129, 83, 110, 0.97);
  font-weight: bold;
}
