body {
  background: url(images/grass.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  border-radius: 10px;
  margin: 10px 0 auto 10px 0 auto;
  max-width: 800px;
  background-color: rgba(157, 158, 143, 0.34);
  box-shadow: 12px 12px 2px 1px rgba(95, 77, 67, 1);
}
h3 {
  font-size: 70px;
  font-weight: bolder;
}
h2 {
  font-size: 15px;
  padding-top: 10px;
}
li {
  list-style: none;
}
#location {
  padding-top: 50px;
}
h1 {
  font-size: 50px;

  margin: 0 auto;
}
#description {
  text-transform: capitalize;
}
h1:first-letter {
  text-transform: capitalize;
}

body {
  color: rgba(95, 77, 67, 1);
  font-family: "Playfair Display", serif;
  padding-top: 20px;
}
table {
  color: white;
}
th {
  color: rgba(95, 77, 67, 1);
  font-weight: 300;
  font-size: 17px;
}
.table-hover tbody tr:hover td {
  color: white;
}
.git {
  color: rgba(95, 77, 67, 1);
  padding: 20px;
  text-align: center;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

td {
  color: rgba(95, 77, 67, 1);
  font-weight: 900;
}
button {
  font-size: 10px;
  color: rgba(95, 77, 67, 1);
  border: none;
  border-radius: 3em;
}
#search-form {
  margin: 10px;
  width: 70%;
}

button:hover {
  background-color: rgba(95, 77, 67, 1);
}

.btn-light {
  background-color: rgba(98, 49, 4, 0.12);
  color: rgba(95, 77, 67, 1);
  border-radius: 0.5cm;
  border: 0.5px transparent;
  display: inline;
  width: 20%;
  margin: 5px;
  line-height: 0.4in;
  padding-bottom: none;
}

a:hover {
  color: rgba(95, 77, 67, 1);
}

.max {
  font-weight: 900px;
}

/* media queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #current-location-button {
    display: none;
  }
  #search-form {
    width: 100%;
  }
  #tempCF {
    font-size: 50px;
  }
  #city {
    font-size: 40px;
  }
  ul {
    margin: 0px;
    padding: 0px 0px 10px 0px;
  }
}
